:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
}
:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
}
.lit{
    background-color: #ff512f;
}
.dark{
    background-color: black;
}
.customSlider {
  /* max width of your slider */
  max-width: 300px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 4px;
 /* default color of your track */
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color);
}


.animation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 60px;
  /* margin-top: 20px; */
}
.animation p {
  position: relative;
  display: inline-block;
  color: #060452;
  text-decoration: dotted;
  animation: animation 1s infinite;
  animation-delay: calc(.10s * var(--i));
}
@keyframes animation {
  0% {
    /* -webkit-transform:
        translate3d(0,0,0)
        rotate(90deg); */
        color:rgb(4, 4, 81);
}

100% {
    /* -webkit-transform:
        translate3d(-400px,680px,0)
        rotate(0deg);
    opacity: 0; */
    color:rgb(178, 28, 91);

}
}
.line {
  width: 200px;
  height: 2px;
  /* background: #fff; */
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: green;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
      left: 0;
  }
  25% {
    left: 50%;
}
  50% {
    left: 100%;
}


  0% {
      left: 0;
  }
}


*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #92dbf4;
}

.border {
    margin: 1%;
    box-shadow: 4px 2px 4px 2px rgb(243, 240, 240);
    padding: 1%;
    line-height: 2em;
    font-size: large;
}

.container {
    width: 1024px;
    margin: 0 auto;
    /* display: flex */
}

a {
    color: rgb(0, 0, 78);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

h1 {
    font-size: 44px;
    color: white;
    margin: 20%;
    text-align: center;
}

.flex {
    background-color: lightblue;
    padding: 30px;
    margin: 10px
}

.btn {
    text-align: center;
    padding: 10px;
    width: 20%
}

.btn-success {
    text-align: center;
    background: rgb(137, 221, 207);
    box-shadow: 2px 2px 5px rgb(147, 243, 184);
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #ff98a9);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09a69);
    right: -30px;
    bottom: -80px;
}

.form {
    height: 560px;
    width: 420px;
    background-color: rgba(4, 69, 37, 0.622);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(1px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(0, 44, 14, 0.846);
    padding: 50px 35px;

}

form * {
    font-family: "Poppins", sans-serif;
    color: #130000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.form h3 {
    
    font-size: 32px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background: rgba(179, 255, 228, 0.786) !important;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

input[type="file"] {
    border: 1px solid red;
}

::-moz-placeholder {
    color: #e5e5e5;
}

:-ms-input-placeholder {
    color: #e5e5e5;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


/*# sourceMappingURL=style.css.map */